#linksBar{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
}

#Header{
    padding: 200px;
    text-align: left;
    margin-top: 5px;
    background-color: white;
}

#Clients {
    padding: 150px;
    background-color: #f5f5dc;
}

#Work{
    padding: 200px;
    background-color: white;
    font-size: 30px;
    font-family: Microsoft YaHei;
}

#News{
    padding: 250px;
    background-color: #f5f5dc;
}

#Footer{
    padding: 300px;
    background-color: #f5f5dc;
}

.item-head{
    font-style: normal;
    margin-top: -150px;
    text-align:left;
    font-size: 45px;
}
p.narrow-text{

    text-align:left;
    font-size: 17px;
    line-height:1.5em;
    margin-top: -210px;
    margin-bottom: 0.4em;
    margin-left: 280px;
}
a.hyperlink{
    color: aquamarine;
    font-size: 25px;
    display:block;text-align:left;
}
