#linksBar {
    text-align: left;
    font-size: 22px;
}

#Header {
    height: 360px;
    text-align: left;
    background-color: white;
    margin-right: 430px;
    margin-left: 430px;
    font-size: 60px;
}

#HeaderText {
    font-size: 80px;
    font-family: Century Gothic, fantasy;
    font-weight: lighter;
    color: black;
}

#HeaderDescription {
    font-size: 26px;
    font-family: serif;
    color: #a9a9a9;
}

#Clients {
    padding: 150px;
    background-color: #f5f5dc;
}

#Work {
    height: 300px;
    margin-top: 200;
    background-color: white;
    margin-left: 430px;
    margin-right: 430px;
    font-size: 30px;
    font-family: Microsoft YaHei;
}

#News {
    padding: 250px;
    background-color: #f5f5dc;
}

#Footer{
    margin-top: -7em;
    background-color: #f5f5dc;
}

.item-head{
    font-style: normal;
    margin-top: -150px;
    text-align:left;
    font-size: 45px;
}
p.agile{

    text-align:left;
    font-size: 20px;
    line-height:1.5em;
    margin-top: -210px;
    margin-bottom: 0.4em;
    margin-left: 190px;
}

p.sip{
    text-align:left;
    font-size: 20px;
    line-height:1.5em;
    margin-top: -245px;
    margin-bottom: 0.4em;
    margin-left: 660px;
}
a.hyperlink{
    color: aquamarine;
    font-size: 25px;
    display:block;text-align:left;
}

#News {
    height: 400px;
    background-color: #f5f5dc;
}

#AboutUs {
    margin-left: 430px;
    margin-right: 430px;
    height: 400px;
    background-color: white;
}

#Footer {
    height: 100px;
    background-color: black;
    text-decoration: underline;
    text-align: center;
}

#AboutThoughtWorks,#HearFromUs{
    height: 30px;
    width: 500px;
    float: left;
}

.a{
    color: white;
    font-size: 20px;
}

.sociallinks{
    color: blue;
    font-size: 40px;
}

#img{
    height: 40px;
    width: 40px;
}