.HeaderLayout {
    background-color: white;
    margin-bottom: 20px;
}

.ClientsLayout {
    text-align: left;
    background-color: #f5f5dc;
    margin-top: 20px;
}

.WorkLayout {
    background-color: #ffffff;
}

.NewsLayout {
    background-color: #f5f5dc;
}

.FooterLayout {
    background-color: black;
}

.AboutUsLayout {
    background-color: #ffffff;
}

#AboutThoughtWorks, #HearFromUs {
    height: 30px;
    width: 500px;
    float: left;
}

.SectionDescription {
    margin-top: 20px;
    margin-bottom: 20px;
}